<!DOCTYPE html>
<html lang="pt-BR">
  <% if (hasProfileData) { %><%- include("parts/head", { pageName:
  gitHubData.name, hasEvent: true, eventName: profileData.event}) %><% } else {
  %><%- include("parts/head", { pageName: gitHubData.name, hasEvent: false })
  %><% } %>

  <body class="page has-img-background has-badge">
    <main class="badge">
      <header class="badge-header">
        <div class="badge-band"></div>

        <button type="button" id="shareBadge" class="btn-share">
          <img src="/images/share.svg" alt="" class="img-share" />
          <p class="sr-only">Compartilhar crachá de espectador</p>
        </button>
      </header>

      <section class="badge-body">
        <header class="editable-badge-avatar">
          <img src="<%= gitHubData.avatar_url %>" alt="" class="img-avatar" />
        </header>

        <section>
          <div class="identification">
            <h1 class="user-name"><%= gitHubData.name %></h1>

            <a
              href="<%= gitHubData.html_url %>"
              target="_blank"
              rel="noreferrer noopener"
              class="profile-link"
            >
              <img src="/images/github.svg" alt="GitHub" class="img-github" />
              <%= gitHubData.login %>
            </a>
          </div>

          <p class="user-biography"><%= gitHubData.bio %></p>
        </section>

        <footer class="config-container">
          <ul class="social-links-wrapper">
            <li class="social-link-container">
              <a
                href="<% if (hasProfileData && profileData.links.youtube) { %>https://youtube.com/<%= profileData.links.youtube %><% } else { %>#<% } %>"
                target="_blank"
                rel="noreferrer noopener"
                class="social-link"
              >
                <img
                  src="/images/youtube.svg"
                  alt="YouTube"
                  class="img-social"
                />
              </a>
            </li>

            <li class="social-link-container">
              <a
                href="<% if (hasProfileData && profileData.links.instagram) { %>https://instagram.com/<%= profileData.links.instagram %>/<% } else { %>#<% } %>"
                target="_blank"
                rel="noreferrer noopener"
                class="social-link"
              >
                <img
                  src="/images/instagram.svg"
                  alt="Instagram"
                  class="img-social"
                />
              </a>
            </li>

            <li class="social-link-container">
              <a
                href="<% if (hasProfileData && profileData.links.facebook) { %>https://facebook.com/<%= profileData.links.facebook %><% } else { %>#<% } %>"
                target="_blank"
                rel="noreferrer noopener"
                class="social-link"
              >
                <img
                  src="/images/facebook.svg"
                  alt="Facebook"
                  class="img-social"
                />
              </a>
            </li>

            <li class="social-link-container">
              <a
                href="<% if (hasProfileData && profileData.links.twitter) { %>https://twitter.com/<%= profileData.links.twitter %><% } else { %>#<% } %>"
                target="_blank"
                rel="noreferrer noopener"
                class="social-link"
              >
                <img
                  src="/images/twitter.svg"
                  alt="Twitter"
                  class="img-social"
                />
              </a>
            </li>
          </ul>

          <button type="button" id="editBadge" class="btn-edit">
            <img src="/images/edit.svg" alt="" class="img-edit" />
            <p class="sr-only">Editar crachá de espectador</p>
          </button>
        </footer>
      </section>
    </main>

    <div id="modalOverlay" class="modal-overlay">
      <div id="modalEdit" class="modal-edit" tabindex="-1">
        <form action="/badge" method="post">
          <fieldset>
            <legend class="fieldset-title">Dados do Crachá</legend>

            <div class="separator"></div>

            <div class="input-group">
              <input
                type="hidden"
                name="gitHubId"
                value="<%= gitHubData.id %>"
              />

              <input
                type="hidden"
                name="userName"
                value="<%= gitHubData.login %>"
              />
            </div>

            <div class="input-wrapper">
              <label for="eventName" class="st-label"
                >Você está participando de qual evento atualmente?</label
              >
              <input
                type="text"
                name="eventName"
                value="<% if (hasProfileData) { %><%=profileData.event%><% } %>"
                id="eventName"
                class="input"
                placeholder="Nome do evento"
              />
            </div>

            <div class="input-wrapper">
              <label for="youtubeLink" class="labels"
                >Qual é o nome do seu canal do YouTube?</label
              >
              <input
                type="text"
                name="youtubeLink"
                value="<% if (hasProfileData) { %><%= profileData.links.youtube %><% } %>"
                id="youtubeLink"
                class="input"
                placeholder="youtube.com/"
              />
            </div>

            <div class="input-wrapper">
              <label for="instagramLink" class="labels"
                >Qual é o seu usuário do Instagram?</label
              >
              <input
                type="text"
                name="instagramLink"
                value="<% if (hasProfileData) { %><%= profileData.links.instagram %><% } %>"
                id="instagramLink"
                class="input"
                placeholder="instagram.com/"
              />
            </div>

            <div class="input-wrapper">
              <label for="facebookLink" class="labels"
                >Qual é o seu perfil do Facebook?</label
              >
              <input
                type="text"
                name="facebookLink"
                value="<% if (hasProfileData) { %><%= profileData.links.facebook %><% } %>"
                id="facebookLink"
                class="input"
                placeholder="facebook.com/"
              />
            </div>

            <div class="input-wrapper">
              <label for="twitterLink" class="labels"
                >Qual é o nome do seu usuário do Twitter?</label
              >
              <input
                type="text"
                name="twitterLink"
                value="<% if (hasProfileData) { %><%= profileData.links.twitter %><% } %>"
                id="twitterLink"
                class="input"
                placeholder="twitter.com/"
              />
            </div>

            <div class="actions">
              <button type="button" id="cancelEdit" class="btn-cancel-edit">
                Cancelar
              </button>
              <button type="submit" id="saveEdit" class="btn-save">
                Salvar
              </button>
            </div>
          </fieldset>
        </form>
      </div>

      <div id="modalShare" class="modal-share" tabindex="-1">
        <h2 class="share-title">Compartilhar Crachá</h2>

        <div class="separator"></div>

        <div class="share-content">
          <div class="copy-container">
            <label for="shareLink" class="sr-only"
              >Copie o link abaixo para compartilhar o seu crachá de
              espectador</label
            >
            <input
              type="text"
              value="<% if (hasProfileData) { %>http://localhost:3000/badges/<%= gitHubData.login %><% } else { %>Preencha os dados do seu crachá para compartilhá-lo!<% } %>"
              id="shareLink"
              class="input"
              readonly
            />

            <button type="button" id="copyButton" class="btn-copy">
              <img src="/images/copy.svg" alt="" class="img-copy" />
              <p class="sr-only">
                Copiar URL do crachá para a área de transferência
              </p>
            </button>
          </div>

          <button type="button" id="cancelSharing" class="btn-cancel-sharing">
            Cancelar
          </button>
        </div>
      </div>
    </div>

    <script src="/scripts/badge.js"></script>
  </body>
</html>
