<!DOCTYPE html>
<html lang="pt-br">
  <% if (hasData) { %><%- include("parts/head", { pageName: data.name, hasEvent:
  true, eventName: profile.event }) %><% } else { %><%- include("parts/head", {
  pageName: "Home", hasEvent: false }) %><% } %>

  <body class="page has-badge">
    <main class="badge">
      <header class="badge-header">
        <div class="badge-band"></div>
        <a href="/login" class="btn-login-redirect">Entrar</a>
      </header>
      <section class="badge-body">
        <header class="readable-badge-avatar">
          <img
            src="<% if (hasData) { %><%= data.avatar_url %><% } else { %>https://via.placeholder.com/160x184/e1e1e6/202024<% } %>"
            alt="<% if (hasData) { %><%= data.name %><% } else { %>Sua foto de perfil<% } %>"
            class="img-avatar"
          />
        </header>
        <section>
          <div class="identification">
            <h1 class="user-name">
              <% if (hasData) { %><%= data.name %><% } else { %>Seu nome<% } %>
            </h1>
            <a
              href="<% if (hasData) { %><%= data.html_url %><% } else { %>#<% } %>"
              target="_blank"
              rel="noreferrer noopener"
              class="profile-link"
            >
              <img
                src="/images/github.svg"
                alt="Ícone do GitHub"
                class="img-github"
              />
              <span>
                <% if (hasData) { %><%= data.login %><% } else { %>usuário<% }%>
              </span>
            </a>
          </div>
          <p class="user-biography">
            <% if (hasData) { %><%= data.bio %><% } else { %>Descrição do
            GitHub<% } %>
          </p>
        </section>
        <footer class="badge-footer">
          <ul class="social-links-wrapper">
            <li class="social-link-container">
              <a
                href="<% if (hasData) { %>https://youtube.com/<%= profile.links.youtube %><% } else { %>#<% } %>"
                target="_blank"
                rel="noreferrer noopener"
              >
                <img
                  src="/images/youtube.svg"
                  alt="Ícone do YouTube"
                  class="img-social"
                />
              </a>
            </li>
            <li class="social-link-container">
              <a
                href="<% if (hasData) { %>https://instagram.com/<%= profile.links.instagram %>/<% } else { %>#<% } %>"
                target="_blank"
                rel="noreferrer noopener"
              >
                <img
                  src="/images/instagram.svg"
                  alt="Ícone do Instagram"
                  class="img-social"
                />
              </a>
            </li>
            <li class="social-link-container">
              <a
                href="<% if (hasData) { %>https://facebook.com/<%= profile.links.facebook %><% } else { %>#<% } %>"
                target="_blank"
                rel="noreferrer noopener"
              >
                <img
                  src="/images/facebook.svg"
                  alt="Ícone do Facebook"
                  class="img-social"
                />
              </a>
            </li>
            <li class="social-link-container">
              <a
                href="<% if (hasData) { %>https://twitter.com/<%= profile.links.twitter %><% } else { %>#<% } %>"
                target="_blank"
                rel="noreferrer noopener"
              >
                <img
                  src="/images/twitter.svg"
                  alt="Ícone do Twitter"
                  class="img-social"
                />
              </a>
            </li>
          </ul>
        </footer>
      </section>
    </main>
  </body>
</html>
